<h1>Products</h1>

<div id="products">
    <form action="/api/manage-cart/getProducts/Bier" method="POST">
        <button type="submit">In den Warenkorb</button>
    </form>
    <form action="/api/manage-cart/getProducts/Wein" method="POST">
        <button type="submit">In den Warenkorb</button>
    </form>
</div>